DB_NAME=shipstream
DB_USER=postgres
DB_PASSWORD=postgres123
DB_HOST=postgres
DB_PORT=5432

SECRET_KEY=your_django_secret_key

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
REDIS_CACHE_URL=redis://redis:6379/1
REDIS_HOST=redis
REDIS_PORT=6379

ALLOWED_HOSTS=localhost,127.0.0.1